{% extends 'base.html.twig' %}

{% block title %} Mon Panier {% endblock %}

{% block body %}
<main>
     <h2 class="title"> Mon panier </h2>

    {% if app.user.basket.articles | length == 0 %}
        <h2> Votre panier est vide </h2>
    {% else %}
        {% for article in app.user.basket.articles %}
            <article>
                <div class="big-box">
                    <h2> {{article.pizza.name}}</h2>
                    <p> {{article.pizza.description}}</p>
                    <div class="box">
                        <p> Prix: {{article.total}}€</p>
                        <a href="{{path('app_panier_supprimer', {id: article.id})}}"> <i class="fa-sharp fa-solid fa-trash"></i> Supprimer du panier </a>
                    </div>
                    <div class="quantite">
                        <button id="moins"> <a  href="{{path('app_panier_moins', {id: article.id})}}"> &minus;</a>  </button>
                        <p> {{article.quantity}}</p>
                        <button  id="plus"> <a href="{{path('app_panier_plus', {id: article.id})}}"> &plus; </a> </button>
                    </div>
                </div>
            </article>
        {% endfor %}

        <h2> Total {{ app.user.basket.total}} €</h2>
        <a href="{{path('app_commande')}}"> Voir la commande </a>
    {% endif %}
</main>
   
{% endblock %}